
.header-cart .cart-dropdown {
    min-width: 18.75rem !important;
    max-width: 20rem;
    top: 100%;
    right: 0;
    z-index: 100;
    padding-top: 0.625rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /* will-change: transform,opacity; */
    -webkit-transition: all 0.25s cubic-bezier(.17,.62,.44,.99);
    transition: all 0.25s cubic-bezier(.17,.62,.44,.99);
    border-color: #54BAB9;
}
.header-cart .cart-dropdown::after{
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #54BAB9;
    border-width: 8px;
    margin-left: -8px;
}
.header-cart .cart-dropdown.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto
}
